.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 20px;
  gap: 24px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

p,
li {
  line-height: 150%;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.alertCard {
  text-align: center;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  justify-content: center;
  align-items: center;

  &__title {
    font-weight: 600;
    font-size: 1rem;
  }

  &__text {
    font-size: 0.875rem;
    color: #485159;
  }
}

.odometer__icon {
  position: absolute;
  right: -10px;
  bottom: 0;
}

.odometer__icon img {
  width: 185px;
  height: 110px;
}

.kilometer-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.current-km {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #485159;
  border: none;
  letter-spacing: -2px;
}

.last-km {
  font-size: 12px;
  font-weight: 400;
  color: #5b6871;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.maintenance-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
