// app global css in SCSS form

body {
  background-color: #eff3f5;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0c0d0f;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  font-size: 1rem;
  color: inherit;
  margin: 0;
  padding: 0;
  background: inherit;
}

button,
select {
  text-transform: none;
  border: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;

  &:disabled {
    opacity: 1 !important;
  }
}

a {
  text-decoration: none;
}

.app-wrapper {
  width: calc(100% - 40px);
  margin-inline: auto;
  margin-bottom: 1.25rem;
}

// quasar styles reset

.disabled, .disabled *, [disabled], [disabled] * {
  cursor: unset !important;
  opacity: unset !important;
}


