.input {
  &__wrapper {
    display: flex;
    gap: 0.75rem;

    color: #0c0d0f;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid hsla(197, 13%, 89%, 1);
    transition: border-color 150ms ease;

    &:focus-within {
      border-color: hsla(103, 71%, 27%, 1);
    }
  }
}

// esta classe está no label
.is-disabled {
  color: #485159;

  .input__wrapper {
    color: #485159;
  }
}

.is-error.is-error {
  color: #ED4647;
  border-color: #ED4647;
}

input {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 400;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 120%;
}

.supporting-text {
  font-size: 0.75rem;
  color: #485159;
  font-weight: 500;
  line-height: 120%;
}
