.main-content {
  display: flex;
  flex-direction: column;
  background-color: #eff3f5;
  padding: 24px 20px;
  gap: 32px;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.text-wrapper {
  margin-bottom: 32px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.subtitle {
  font-size: 14px;
  color: #5b6871;
  margin-top: 8px;
}
