.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 1.25rem;
    }
  }

  &__card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e0e5e7;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.maintenances {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 1.25rem;
    }
  }
}

.maintenance-card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e0e5e7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &__header-container {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.vertical {
  width: 1px;
  height: 35px;
  border-right: 1px dashed #485159;
}

.divider {
  margin: 10px;
}
