.main-content {
  display: flex;
  flex-direction: column;
  background-color: #eff3f5;
  padding: 24px 20px;
  gap: 2rem;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.card {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-wrapper {
  margin-bottom: 2rem;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.125rem;
  font-weight: bold;
}
.subtitle {
  font-size: 0.875rems;
  color: #5b6871;
  margin-top: 0.5rem;
}
